{% extends 'base.html.twig' %}

{% block title %}Accueil - Gestion Location de Véhicules{% endblock %}

{% block body %}
<div style="overflow-y: auto; min-height: 460pt;">
    <h1>Bienvenue sur LocACar</h1>
    <ul><br><br>
        <p>LocACar est une application de gestion de location de véhicules.</p>
        <p style="font-size:15px"><u>Vous pouvez :</u></p>
        <ul>
            <li style="font-size:15px">Consulter la liste des véhicules disponibles</li>
            <li style="font-size:15px">Consulter la liste des réservations</li>
            <li style="font-size:15px">Créer une réservation</li>
            <li style="font-size:15px">Modifier une réservation</li>
            <li style="font-size:15px">Supprimer une réservation</li>
        </ul><br>
        <p><i>Connectez-vous pour accéder à toutes les fonctionnalités.</i></p>
        <p style="font-size:12px">Si vous n'avez pas de compte, vous pouvez vous inscrire.</p>
        <p style="font-size:12px">Si vous avez des questions, n'hésitez pas à nous contacter.</p>
        <p>Bonne visite !</p>
        <p><i>L'équipe LocACar.</i></p>
    </ul>
</div>
    
{% endblock %}
