{% extends 'base.html.twig' %}

{% block title %}Modifier le véhicule{% endblock %}

{% block body %}
    <h1>Modifier le véhicule</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}
